<div class="container">
    <div *ngIf="car">
        <form #form="ngForm" (submit)="updateCar()">
            <div class="form-group">
                <label for="city">Mark</label>
                <select class="form-select" name="status" #status="ngModel" [(ngModel)]="car.markId">
                    <option *ngFor="let mark of marks" [ngValue]="mark.id">{{ mark.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <select class="form-select" name="status" #status="ngModel" [(ngModel)]="car.cityId">
                    <option *ngFor="let city of cities" [ngValue]="city.id">{{ city.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="city">Model</label>
                <input class="form-control form-control-lg" name="name" #name="ngModel" [(ngModel)]="car.model">
            </div>
            <div class="form-group">
                <label for="city">Capacity</label>
                <input class="form-control form-control-lg" name="description" #description="ngModel"
                    [(ngModel)]="car.capacity">
            </div>
            <div class="form-group">
                <label for="city">Price Per Hour($)</label>
                <input class="form-control form-control-lg" name="pricePerHour" #pricePerHour="ngModel"
                    [(ngModel)]="car.pricePerHour">
            </div>
            <div class="form-group">
                <label for="city">Color</label>
                <input class="form-control form-control-lg" name="color" #color="ngModel" [(ngModel)]="car.color">
            </div>
            <div class="form-group">
                <label for="city">Location</label>
                <input class="form-control form-control-lg" name="location" #location="ngModel" [(ngModel)]="car.location">
            </div>
            <div class="form-group">
                <label for="city">Registration Number</label>
                <input class="form-control form-control-lg" name="registrationNumber" #registrationNumber="ngModel"
                    [(ngModel)]="car.registrationNumber">
            </div>
            <div class="form-group">
                <label for="city">Status</label>
                <select class="form-select" name="status" #status="ngModel" [(ngModel)]="car.status">
                    <option [ngValue]="true">Available</option>
                    <option [ngValue]="false">Taken</option>
                </select>
            </div>
            <div class="form-group">
                <label for="city">Transmission</label>
                <input class="form-control form-control-lg" name="transmission" #transmission="ngModel"
                    [(ngModel)]="car.transmission">
            </div>
            <button type="submit" class="btn btn-primary">Edit
            </button>
        </form>
    </div>
</div>