<div class="container">
    <h2 style="margin-top: 1rem;">Admin Page</h2>
    <div class="buttons"
         style="margin: 1rem;">
      <button type="submit"
              class="btn btn-primary"
              style="margin-right: 1rem;"
              routerLink='city'>Cities</button>
      <button type="submit"
              class="btn btn-primary"
              style="margin-right: 1rem;"
              routerLink='car'>Cars</button>
      <button type="submit"
              class="btn btn-primary"
              style="margin-right: 1rem;"
              routerLink='mark'>Marks</button>
    </div>
</div>